<f:be.container enableClickMenu="true" loadExtJs="true" includeCssFiles="{0:'{f:uri.resource(path:\'Css/backend.css\')}'}">
	<div class="module-docheader t3js-module-docheader" style="height: auto;">
		<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: auto;">
			<div class="module-docheader-bar-column-left">
				<f:render section="functions" optional="true" />
			</div>
			<div class="module-docheader-bar-column-right">
			</div>
		</div>
		<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
			<div class="module-docheader-bar-column-left">
				<div class="btn-toolbar" role="toolbar" aria-label="">
					<f:render section="buttons" optional="true" />
				</div>
			</div>
			<div class="module-docheader-bar-column-right">
				<div class="btn-toolbar" role="toolbar" aria-label="">

				</div>
			</div>
		</div>
	</div>
	<div class="module-body t3js-module-body" style="padding-top: 89px;">
		<f:flashMessages queueIdentifier="core.template.flashMessages" />
		<f:render section="content">Content</f:render>
	</div>
</f:be.container>
