abbr.in2glossar-abbr {
    border-bottom: 2px dotted #5e5e5d;
    cursor: help;
}

abbr.in2glossar-abbr > span {
    display: none;
}

abbr.in2glossar-abbr:hover > span {
    display: inline-block;
    position: absolute;
    min-width: 300px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    background-color: #0A246A;
    z-index: 1070;
    margin-top: 30px;
    margin-left: -30px;
}
