<f:layout name="Backend" />
{namespace glossar=In2code\In2glossar\ViewHelpers}

<f:section name="buttons">
	<f:be.buttons.icon uri="{glossar:be.link(parameters:'edit[tx_in2glossar_domain_model_definition][{settings.storagePid}]=new')}" icon="actions-document-new" />
</f:section>
<f:section name="content">
	<glossar:be.tableList tableName="tx_in2glossar_domain_model_definition" fieldList="{0:'word',1:'short_description'}" sortField="word" clickTitleMode="edit" enableClickMenu="true" />
</f:section>
